
{% extends 'portfolio/base.html' %}

{% load static %}


{% block title %}Home page{% endblock title %}

{% block content %}
	<div id="main" class="container-fluid mt-5 py-3 mb-3">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="card card-body h-100  border-warning" id="profile-wrapper">
						<img id="profile-pic" src="{% static 'images/profile-img.jpeg' %}" >
						<hr>
						<h4>Hi I'm Mostafa!</h4>
						<hr>
						<p class="text-secondary">I love coding, doing research and collaborating</p>
					</div>
				</div>

				<div class="col-md-9">
					<div class="card card-body h-100  border-warning">
						<h4>My First Job as a Developer</h4>
						<hr>
						<p class="text-secondary">3 months after writing my first Hello World program on September 8th 2017 (While working in the marketing department) I had convinced my boss to let me take a stab at building a better version of the outdated laboratory management system my company was running on.</p>

						<p class="text-secondary">Before I knew it we transitioned from the old system and we're on to mine. My newbie self was now in charge of hosting hundreds of thousands of lab samples and supporting thousands of clients.</p>

						<p class="text-secondary">From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="card card-body h-100 border-warning">
						<h5>My Experience as a Developer</h5>
						<hr>
						<p class="text-secondary">Full stack developer at FOI laboratories.</p>
						<p class="text-secondary">Designed, built and managed a lab management system as a sole developer. System supported thousands of customers with a UI for Lab Admins and a customer dashboard.</p>
						</div>
				</div>

				<div class="col-md-6">
					<div class="card card-body h-100 border-warning">
						<h5>What I Know</h5>
						<hr>
						<p class="text-secondary">Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres, AWS and APIs such as google maps, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
						<p class="text-secondary">PS: Working on Node JS, Mongo DB and Machine Learning.</p>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="card card-body h-100 border-warning">
						<h5>How I Learn</h5>
						<hr>
						<p class="text-secondary">Reverse Engineer & Build Ugly Prototypes First.</p>

						<p class="text-secondary">I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
					</div>
				</div>

				<div class="col-md-6">
					<div class="card card-body h-100 border-warning">
						<h5>My Short Term Goals</h5>
					<hr>
					<p class="text-secondary">After almost two years of supporting my system at the lab I’m ready to learn something new. I'll collaborating and sharing my experience with others on my blog (SayHelloWorld.co) & youtube channel.</p>
					<p class="text-secondary">Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

					</div>
				</div>
			</div>
			<br>
		</div>
	</div>

{% endblock content %}
